In [71]:
import pandas as pd
data = pd.read_csv("scored_text_with_pred.csv")

In [72]:
data

,org_text,use_word,concrete_score
0,＊＊＊の町というのはちいちゃくって、城壁がこう町全体をぐるっと回ってて、それが城壁の上を歩い...,"['それ', '上', '町', '城壁', '１', 'ちい', 'の', '時間', '...",461.295463
1,１時間かからないぐらいだね。,"['１', '時間']",499.522613
2,４、５０分で。,"['分', '４', '５', '０']",479.845305
3,そうそう。,[],NaN
4,ほいでさあ、ずっと歩いていたんだけど、そうすと上から、なんか町の中が見れるじゃん。,"['上', '町', '中', 'ん']",464.699884
...,...,...,...
822,そうだね。,[],NaN
823,これちょっとすてきに撮れた。,"['これ', 'すてき']",400.609981
824,なんかこれシャッターチャンスがさ、逃すんだよね。,"['これ', 'シャッター', 'チャンス', 'ん']",456.513153
825,遅いもんでさあ。,['もん'],507.775096
826,反応が。,['反応'],493.914688

In [99]:
data = data[data["concrete_score"].notnull()].reset_index(drop=True)

In [101]:
import ast
data["use_word_num"] = data["use_word"].apply(lambda x : len(ast.literal_eval(x)))
data["use_word_num"].mean()

2.9101307189542482

In [95]:
data.shape

(827, 4)

### 具体度が高い文章10件、推論あり

In [96]:
data.sort_values("concrete_score", ascending=False).head(10)

                      org_text          use_word  concrete_score  use_word_num
405                  ジャケットポテト。  ['ジャケット', 'ポテト']           623.0             2
603                     ジャケット。         ['ジャケット']           623.0             1
433       あー、さめたポテトはね。いけてないねー。           ['ポテト']           623.0             1
399                 パンだったじゃんね。            ['パン']           620.5             1
402  そうしたらさあ、パサパサのパンが来ちゃったじゃん。            ['パン']           620.5             1
331             コーヒー、おいしくないよね。          ['コーヒー']           615.5             1
508                  ほで橋渡ってさあ。             ['橋']           615.5             1
709             お父さんに会いたいとかって。          ['お父さん']           614.5             1
46                          木？             ['木']           613.0             1
677                 すごい雨だったよね。             ['雨']           609.0             1

### 具体度が低い文章10件、推論あり

In [97]:
data.sort_values("concrete_score", ascending=True).head(10)

                    org_text use_word  concrete_score  use_word_num
531         どこまで行くって言えばよかった。   ['どこ']           255.5             1
699             で、それはなんていうの。   ['それ']           268.0             1
693                   いつ、それ。   ['それ']           268.0             1
175         それにしちゃうるさくなかったね。   ['それ']           268.0             1
308  いい＊＊＊でもだいぶ古かったけど、それぐらい。   ['それ']           268.0             1
63               それで壊せなかったの。   ['それ']           268.0             1
118                     それを。   ['それ']           268.0             1
82                      それが。   ['それ']           268.0             1
629     で、頼んだらさあ、もうえらいことでさあ。   ['こと']           270.0             1
727         こんな遅くまで起きてたことない。   ['こと']           270.0             1

,org_text,use_word,concrete_score,use_word_num
0,＊＊＊の町というのはちいちゃくって、城壁がこう町全体をぐるっと回ってて、それが城壁の上を歩い...,"['それ', '上', '町', '城壁', '１', 'ちい', 'の', '時間', '...",461.295463,50
1,１時間かからないぐらいだね。,"['１', '時間']",499.522613,11
2,４、５０分で。,"['分', '４', '５', '０']",479.845305,20
3,そうそう。,[],NaN,2
4,ほいでさあ、ずっと歩いていたんだけど、そうすと上から、なんか町の中が見れるじゃん。,"['上', '町', '中', 'ん']",464.699884,20